
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

.container-app {
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 75px;
  background: #0049b0;
  color: aliceblue;
  box-shadow: 4px 4px 4px 1px #00000080;
  z-index: 100;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 4px;
  padding: 0 1rem;
}

.nav-bar a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border-radius: 2px;
  border: none;
}

.nav-bar .active {
  background-color: aliceblue;
  color: blue;
}

.container-main {
  
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.form-login {
  display: flex;
  flex-direction: column;  
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px #00000080;
}

.form-login label {
  font-size: 1.2rem;
  color: #00000060;
}

.form-login input{
  border: none;
  outline: none;
  border-bottom: 2px solid #00000060;
  font-size: 1.2rem;
  color: #00000090;
  background: transparent;
  transition: 1s;
}

.form-login input:hover {
  border-bottom: 2px solid #0049b0;
}

.form-login .buttons{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.buttons button {
  width: 200px;
  border: none;
  color: aliceblue;
  padding: 7px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

button:hover {
  font-weight: bold;
}

.button-confirmar {
  background: green;
}

.button-cancelar {
  background: red;
}

.container-logout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vw;
  align-items: center;
  justify-content: center;
}

.container-logout .componentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 1px 2px 5px 2px #00000080;
  padding: 50px;
  background: aliceblue;
}

.container-logout .componentes h1 {
  margin-bottom: 50px;
}

.container-logout .buttons {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.container-footer {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0049b0;
  color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
}