
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

.container-app {
  width:100vw;
  height: 100vh;
}

.container-header {
  border: 1px solid black;  
}

.container-main {
  border: 1px solid red;
}

.container-footer {
  border: 1px solid green;
}