
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

.container-app {
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 75px;
  background: #0049b0;
  color: aliceblue;
  box-shadow: 4px 4px 4px 1px #00000080;
  z-index: 100;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 4px;
  padding: 0 1rem;
}

.nav-bar a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border-radius: 2px;
  border: none;
}

.nav-bar .active {
  background-color: aliceblue;
  color: blue;
}

.container-main {
  
}

.container-footer {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0049b0;
  color: aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
}